
.slider, .slider1, .slider2{
			max-width: 400px;
			width: 100%;
			margin:  100px auto;
			overflow: hidden;
			position: relative;
			/*display: flex;*/
			justify-content: center;
		}
		.slider-box1, .slider-box2{
		display: flex;
		position: relative;
		transition: .5s;
		right: 0; /*обязательно указать чтобы transition сработал*/
		border-radius: 1rem;
		}
		.dot-box{
			position: absolute;
			top: 10px;	
			display: flex;
			
		}
		span:not(:first-child){			
			margin-left: 5px;
		}
		span{
			border-radius: 1rem;
		}
		img{
		max-width: 400px;
		width: 100%;
		height: 100%;
		aspect-ratio: 4/3;
		object-fit: cover;
		border-radius: 1rem;

		}
		#next, #prev, .next, .prev{
		width: 50px;
		height: 50px;
		margin-left: 10px;

	}
	.btn-box{
		width: 120px;
		margin: 20px auto;
		display: flex;
	}